<!-- Toast -->
<p-toast key="mKey1" position="top-center"></p-toast>

<!-- Body page -->
<div class="row vh-100 align-items-center bg-login">
	<div class="col-6 d-flex justify-content-center align-items-center">
		<img class="img-size" src="assets/img/logo.png" alt="travy image">
	</div>
	<div class="col-4 bg-form">
		<form [formGroup]="loginForm" (ngSubmit)="submit()" class="p-5">
			<div class="text-center">
				<h2 class="mb-4">Login</h2>
			</div>
			<div class="m-5">
				<div class="d-flex flex-column mb-3">
					<label for="email" class="form-label ">Email address</label>
          <span class="p-input-icon-right">
            <i class="pi pi-envelope"></i>
            <input type="email" pInputText class="form-control" name="email" formControlName="email" aria-describedby="emailHelp" placeholder="Input your email" required>
          </span>
					<div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger mt-2">
            <div *ngIf="email?.errors?.['required']">
              Email is required.
            </div>
            <div *ngIf="email?.errors?.['email']">
              Email must be a contain @ and .com etc.
            </div>
          </div>
				</div>
				<div class="d-flex flex-column mb-3">
					<label for="password" class="form-label">Password</label>
          <span class="p-input-icon-right">
            <i class="pi pi-lock"></i>
            <input type="password" [feedback]="false" pPassword class="form-control" name="password" formControlName="password" placeholder="Input your password" required>
          </span>
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger mt-2">
            <div *ngIf="password?.errors?.['required']">
              Password is required.
            </div>
            <div *ngIf="password?.errors?.['minlength']">
              Password must be at least 8 characters long.
            </div>
          </div>
				</div>
        <div class="d-flex flex-column mt-5">
          <div class="d-grid gap-2">
            <button *ngIf="loadingSubmit" type="submit" class="btn btn-primary">Login</button>
          </div>
          <button *ngIf="!loadingSubmit" class="btn btn-primary is-loading" type="button">
            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            Loading...
          </button>
        </div>
			</div>
		</form>
	</div>
</div>