.nav-top {
  height: 120px;
}

.nav-logo {
  position: absolute;
  top: -35px;
  left: 0px;
}

.logo-wrapper {
  position: relative;
  height: 150px;
}

.nav-item {
  color: #f6f0ed;
}

.nav-item:hover {
  border: 1px solid #f6f0ed;
}

.nav-active {
  background-color: #f6f0ed;
  color: #b63040;
}

.content-wrapper {
  padding: 24px 40px;
}
