<div class="row m-0 min-vh-100">
  <div class="col-2 p-0 bg-travy d-flex justify-content-center align-items-start">
    <div class="row">
      <div class="logo-wrapper">
        <img class="nav-logo" src="assets/img/logo.png" width="194px" alt="">
      </div>
      <div class="d-flex flex-column gap-2">
        <a routerLink="" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact : true}"
          class="btn nav-item w-100 d-flex">
          <i class="col-4 fa fa-house"></i>
          <span class="col-8 d-flex justify-self-start">Home</span>
        </a>
        <a routerLink="product" routerLinkActive="nav-active" class="btn nav-item w-100 d-flex">
          <i class="col-4 fa fa-clipboard-list"></i>
          <span class="col-8 d-flex justify-self-start">Product</span>
        </a>
        <a routerLink="customer" routerLinkActive="nav-active" class="btn nav-item w-100 d-flex">
          <i class="col-4 fa fa-user-friends"></i>
          <span class="col-8 d-flex justify-self-start">Customer</span>
        </a>
        <a routerLink="transaction" routerLinkActive="nav-active" class="btn nav-item w-100 d-flex">
          <i class="col-4 fa fa-arrow-right-arrow-left"></i>
          <span class="col-8 d-flex justify-self-start">Transaction</span>
        </a>
        <a routerLink="payment" routerLinkActive="nav-active" class="btn nav-item w-100 d-flex">
          <i class="col-4 fa-solid fa-credit-card"></i>
          <span class="col-8 d-flex justify-self-start">Payment</span>
        </a>
        <a routerLink="advertisement" routerLinkActive="nav-active" class="btn nav-item w-100 d-flex">
          <i class="col-4 fa-solid fa-images"></i>
          <span class="col-8 d-flex justify-self-start">Advertisement</span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-10 p-0">
    <!-- top nav -->
    <div class="row bg-travy nav-top d-flex justify-content-end align-items-center">
      <div class="d-flex justify-content-end px-5">
        <button class="btn btn-travy-white" (click)="logout()">Logout <i class="fa fa-arrow-right-from-bracket ms-1"></i></button>
      </div>
    </div>
    <!-- content here -->
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>