<div class="txn-detail">
  <div class="txn-row">
    <span class="txn-title">Product Name</span>
    <span class="txn-value">{{props.data.title}}</span>
  </div>
  <div class="txn-row">
    <span class="txn-title">User</span>
    <span class="txn-value">{{props.data.fullname}}</span>
  </div>
  <div class="txn-row">
    <span class="txn-title">Payment Method</span>
    <span class="txn-value">{{props.data.payment_method_types ? props.data.payment_method_types : 'No Data'}}</span>
  </div>
  <div class="txn-row">
    <span class="txn-title">Payment Status</span>
    <p-tag
      [severity]="props.data.payment_status === 'SUCCESS' ? 'success' : props.data.payment_status === 'PENDING' ? 'warning' : 'danger'"
      [icon]="props.data.payment_status === 'SUCCESS' ? 'pi pi-check' : props.data.payment_status === 'PENDING' ? 'pi pi-clock' : 'pi pi-times'"
      class="txn-value" value="{{props.data.payment_status}}"></p-tag>
  </div>
  <div class="txn-row">
    <span class="txn-title">Invoice ID</span>
    <span class="txn-value">{{props.data.invoice_id}}</span>
  </div>
  <div class="txn-row">
    <span class="txn-title">Ticket Qty</span>
    <span class="txn-value">{{props.data.ticket_qty}}</span>
  </div>
  <p-accordion *ngIf="props.data.group_member.length > 0">
    <p-accordionTab style="font-size: small;" header="Group Member">
      <div *ngFor="let item of props.data.group_member">
        <div class="txn-row">
          <span class="txn-title">Fullname</span>
          <span class="txn-value">{{item.fullname}}</span>
        </div>
        <div class="txn-row">
          <span class="txn-title">Phone Number</span>
          <span class="txn-value">{{item.phoneNumber}}</span>
        </div>
        <p-divider></p-divider>
      </div>
    </p-accordionTab>
  </p-accordion>
  <div class="txn-row">
    <span class="txn-total">Total Amount</span>
    <span class="txn-total">{{props.data.total_amount | currencyFormat}}</span>
  </div>
</div>