.txn-detail {
  width: 512px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.txn-row {
  display: flex;
  justify-content: space-between;
}

.txn-total {
  font-weight: 600;
}

:host ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 8px 0;
  flex-direction: row-reverse;
  justify-content: space-between;
}

:host ::ng-deep .p-accordion .p-accordion-content {
  padding: 0.5rem;
  border: none;
}

:host ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
  border: none;
  font-weight: 600;
}

:host
  ::ng-deep
  .p-accordion-tab:not(.p-accordion-tab-active)
  .p-toggleable-content {
  height: 0;
  overflow: hidden;
}
:host ::ng-deep .p-accordion-tab.p-accordion-tab-active .p-toggleable-content {
  height: auto !important;
  overflow: auto !important;
}
