<p-dialog [(visible)]="displayDetailCustomerModal" [modal]="true" [style]="{width: '80vw'}" [draggable]="true" [resizable]="false" [maximizable]="true" [draggable]="false" (onHide)="closeModalDetailCustomer()">
  <ng-template pTemplate="header">
    <h3>Detail Customer</h3>
  </ng-template>
  <div class="mb-5 mt-3">
    <div class="row" *ngFor="let item of customerDetail">
      <div class="col-5">
        <table class='table borderless'>
          <tbody>
            <tr>
              <td class="fw-bold"><i class="pi pi-user me-2 fw-bold"></i>Username</td>
              <td>:</td>
              <td><span>{{item.fullname ? item.fullname : "No Data"}}</span></td>
            </tr>
            <tr>
              <td class="fw-bold"><i class="pi pi-envelope me-2 fw-bold"></i>Email</td>
              <td>:</td>
              <td><span>{{item.email ? item.email : "No Data"}}</span></td>
            </tr>
            <tr>
              <td class="fw-bold"><i class="pi pi-phone me-2 fw-bold"></i>Phone</td>
              <td>:</td>
              <td><span>{{item.phone_number ? item.phone_number : "No Data"}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-5">
        <table class='table borderless'>
          <tbody>
            <tr>
              <td class="fw-bold"><i class="pi pi-id-card me-2 fw-bold"></i>NIK</td>
              <td>:</td>
              <td><span>{{item.nik ? item.nik : "No Data"}}</span></td>
            </tr>
            <tr>
              <td class="fw-bold"><i class="pi pi-calendar me-2 fw-bold"></i>Date of Birth</td>
              <td>:</td>
              <td><span>{{item.dob ? item.dob : "No Data"}}</span></td>
            </tr>
            <tr>
              <td class="fw-bold"><i class="pi pi-question-circle me-2 fw-bold"></i>Gender</td>
              <td>:</td>
              <td><span>{{item.gender ? item.gender : "No Data"}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <p-table #dt [columns]="cols" [value]="customersHistory" [totalRecords]="totalRecords" [globalFilterFields]="['title', 'payment_status']" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="caption">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Search" (input)="dt.filterGlobal($any($event.target).value, 'contains')">
      </span>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
            {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{item.title}}</td>
        <td>{{item.departure_date}}</td>
        <td>{{item.return_date}}</td>
        <td>
          <p-tag [severity]="item.payment_status === 'SUCCESS' ? 'success' : item.payment_status === 'PENDING' ? 'warning' : 'danger'" [icon]="item.payment_status === 'SUCCESS' ? 'pi pi-check' : item.payment_status === 'PENDING' ? 'pi pi-clock' : 'pi pi-times'" value="{{item.payment_status}}"></p-tag>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length" class="text-center">
          No records found
        </td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template pTemplate="footer">
    <div class="mt-3">
      <p-button (onClick)="closeModalDetailCustomer()" label="Close" styleClass="p-button-text"></p-button>
    </div>
  </ng-template>
</p-dialog>
