<div class="card {{props.bgColor}}">
  <div class="card-body py-4">
    <h3 class="">{{props.title}}</h3>
    <div class="d-flex gap-2 align-items-center card-val">
      <i class="fa {{props.icon}} {{props.color}} fs-1"></i>
      <span class="fw-bold {{props.size}}">{{props.title === 'Income' ? (props.value | currencyFormat) :
        props.value}}</span>
    </div>
  </div>
</div>