<p-dialog header="{{ modalType }} Image" [(visible)]="displayAddEditModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false" (onHide)="closeModal()">
  <form [formGroup]="imageForm" class="image-form" enctype="multipart/form-data">
    <div class="field mb-3 mt-4">
      <div class="d-flex flex-column">
        <label class="block mb-1" for="name">Advertisement Name</label>
        <input type="text" pInputText id="name" formControlName="name" placeholder="Input name"/>
        <small class="p-error block mt-1" *ngIf="imageForm.controls['name'].invalid && imageForm.controls['name'].dirty && imageForm.controls['name'].touched">Field is required</small>
      </div>
    </div>
    <div class="field mb-3">
      <div class="d-flex flex-column">
        <label class="block mb-1" for="image">Image</label>
        <p-fileUpload [customUpload]="true" (uploadHandler)="uploadImage($event)" [auto]="true" accept="image/*" [maxFileSize]="5000000"></p-fileUpload>
      </div>
      <small class="p-error block mt-1" *ngIf="imageForm.controls['image'].invalid && imageForm.controls['image'].dirty">Image is required</small>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="mt-3">
      <p-button (onClick)="closeModal()" label="Cancel" styleClass="p-button-text"></p-button>
      <p-button *ngIf="loadingSubmit" (onClick)="addEditImage()" label="{{ modalType }}" [disabled]="imageForm.invalid || imageForm.pristine"></p-button>
      <p-button *ngIf="!loadingSubmit" class="is-loading" [disabled]="true">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </p-button>
    </div>
  </ng-template>
</p-dialog>

<!-- Toast image -->
<p-toast position="bottom-right"></p-toast>