<div class="d-flex justify-content-between mb-3">
  <h2>Products</h2>
  <p-button icon="pi pi-plus" label="Add Product" (click)="showAddModal()"></p-button>
</div>
<div *ngIf="!visible" class="d-flex align-items-center justify-content-center h-100 search-loader">
  <p-progressSpinner></p-progressSpinner>
</div>
<p-table *ngIf="visible" [columns]="cols" [value]="products" [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="loadCustomers($event)" [loading]="loading" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
  <ng-template pTemplate="caption">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input [value]="query" pInputText type="text" (keyup.enter)="search()" (input)="searchId($event)" placeholder="Search Product" />
    </span>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols">
            {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.title}}</td>
        <td class="text-capitalize">{{product.location}}</td>
        <td>{{product.price | currencyFormat}}</td>
        <td>{{product.quota}}</td>
        <td>
          <button pButton icon="pi pi-eye" class="p-button-sm p-button-success m-2" (click)="showDetailModal(product.travel_code)" label="DETAIL"></button>
          <button pButton icon="pi pi-pencil" class="p-button-sm p-button-warning m-2" (click)="showEditModal(product)" label="EDIT"></button>
          <button pButton icon="pi pi-trash" class="p-button-sm p-button-danger m-2" (click)="deleteProduct(product.travel_code)" label="DELETE"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length" class="text-center">
          No records found
        </td>
      </tr>
    </ng-template>
</p-table>

<!-- Modal Add Edit Product-->
<app-add-edit-product [displayAddEditModal]="displayAddEditModal" (clickClose)="hideAddModal($event)"></app-add-edit-product>

<!-- Modal Detail Product -->
<app-detail-product [displayDetailModal]="displayDetailModal" (clickClose)="hideDetailModal($event)"></app-detail-product>

<!-- Alert Dialog -->
<p-confirmDialog header="Delete Product" icon="pi pi-exclamation-triangle" acceptButtonStyleClass="p-button-danger"></p-confirmDialog>
<p-toast position="bottom-right"></p-toast>
