<p-dialog [(visible)]="displayDetailModal" [modal]="true" [style]="{width: '80vw'}" [draggable]="true" [resizable]="false" [maximizable]="true" (onHide)="closeModal()">
  <ng-template pTemplate="header">
    <h3>Detail Product</h3>
  </ng-template>

  <div class="container mt-4">
    <div class="d-flex justify-content-center">
      <div style="width: 80%;" >
        <p-galleria [numVisible]="3" [value]="images | async" >
          <ng-template pTemplate="item" let-item>
            <img [src]="item.path" alt="Image travel" width="100%" height="480px"/>
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter">
              <img class="ms-4" [src]="item.path" alt="thumbnail travel" width="120px" height="80px"/>
            </div>
          </ng-template>
        </p-galleria>
      </div>
    </div>
    <div class="mt-5 row">
        <h2>{{(detailProduct | async)?.title}}</h2>
        <div class="col-5 mt-4">
          <table class='table borderless'>
            <tbody>
              <tr>
                <td class="fw-bold"><i class="pi pi-map-marker me-2"></i> Location</td>
                <td>:</td>
                <td><span class="text-capitalize">{{(detailProduct | async)?.location}}</span></td>
              </tr>
              <tr>
                <td class="fw-bold"><i class="pi pi-money-bill me-2"></i> Price</td>
                <td>:</td>
                <td>{{(detailProduct | async)?.price | currency : 'IDR' : 'Rp. ' : '3.0' }}</td>
              </tr>
              <tr>
                <td class="fw-bold"><i class="pi pi-users me-2"></i> Quota</td>
                <td>:</td>
                <td>{{(detailProduct | async)?.quota}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-5 mt-4">
          <table class='table borderless'>
            <tbody>
              <tr>
                <td class="fw-bold"><i class="pi pi-key me-2"></i> Travel Code</td>
                <td>:</td>
                <td>{{(detailProduct | async)?.travel_code}}</td>
              </tr>
              <tr>
                <td class="fw-bold"><i class="pi pi-calendar-plus me-2"></i> Departure Date</td>
                <td>:</td>
                <td>{{(detailProduct | async)?.departure_date}}</td>
              </tr>
              <tr>
                <td class="fw-bold"><i class="pi pi-calendar-minus me-2"></i> Return Date</td>
                <td>:</td>
                <td>{{(detailProduct | async)?.return_date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h4 class="mt-4 mb-3"><span class="pi pi-book"></span> Description</h4>
        <div [innerHTML]="(detailProduct | async)?.description"></div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="mt-3">
      <p-button (onClick)="closeModal()" label="Close" styleClass="p-button-text"></p-button>
    </div>
  </ng-template>
</p-dialog>
