<p-dialog header="{{ modalType }} Product" [(visible)]="displayAddEditModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false" (onHide)="closeModal()">
  <form [formGroup]="productForm" class="product-form" enctype="multipart/form-data">
    <div class="field mb-3 mt-4">
      <label class="block mb-1" for="title">Title</label>
      <input [value]="(selectedProduct | async)?.title" type="text" pInputText id="title" formControlName="title" placeholder="Input title"/>
      <small class="p-error block mt-1" *ngIf="productForm.controls['title'].invalid && productForm.controls['title'].dirty">Field is required</small>
    </div>
    <div class="field mb-3 mt-4">
      <label class="block mb-1" for="location">Location</label>
      <input [value]="(selectedProduct | async)?.location" type="text" pInputText id="location" formControlName="location" placeholder="Input location"/>
      <small class="p-error block mt-1" *ngIf="productForm.controls['location'].invalid && productForm.controls['location'].dirty">Field is required</small>
    </div>
    <div class="field mb-3">
      <div class="d-flex flex-column">
        <label class="mb-1" for="price">Price</label>
        <p-inputNumber id="price" formControlName="price" mode="currency" currency="IDR" locale="id-ID" placeholder="Input price"></p-inputNumber>
      </div>
      <small class="p-error block mt-1" *ngIf="productForm.controls['price'].invalid && productForm.controls['price'].dirty">Field is required</small>
    </div>
    <div class="field mb-3">
      <div class="d-flex flex-column">
        <label class="mb-1" for="quota">Quota</label>
        <p-inputNumber id="quota" formControlName="quota" placeholder="Input quota"></p-inputNumber>
      </div>
      <small class="p-error block mt-1" *ngIf="productForm.controls['quota'].invalid && productForm.controls['quota'].dirty">Field is required</small>
    </div>
    <div class="field mb-4">
      <label class="block mb-1">Description</label>
      <p-editor formControlName="description" [style]="{'height':'320px'}" class="ng-invalid ng-dirty" placeholder="Input description">
        <ng-template pTemplate="header">
            <span class="ql-format-group">
              <span class="ql-formats">
                  <button class="ql-bold" aria-label="Bold" type="button"></button>
                  <button class="ql-italic" aria-label="Italic" type="button"></button>
                  <button class="ql-underline" aria-label="Underline" type="button"></button>
              </span>
              <span class="ql-formats">
                  <button class="ql-list" value="bullet" aria-label="Unordered List" type="button"></button>
              </span>
              <span class="ql-formats">
                  <button class="ql-clean" aria-label="Remove Styles" type="button"></button>
              </span>
            </span>
        </ng-template>
      </p-editor>
      <small class="p-error block mt-1" *ngIf="productForm.controls['description'].invalid && productForm.controls['description'].dirty">Field is required</small>
    </div>
    <div *ngIf="modalType == 'Add'" class="field mb-3">
      <label class="block mb-1" for="image">Image</label>
      <p-fileUpload [customUpload]="true" (uploadHandler)="myUploader($event)" [multiple]="true" accept="image/*" [maxFileSize]="5000000" [fileLimit]="5" [auto]="true"></p-fileUpload>
    </div>
    <div *ngIf="modalType == 'Edit'" class="field mb-4">
      <div class="d-flex flex-column">
        <label class="block mb-2" for="image">Image Edit</label>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-3">
          <div class="col" *ngFor="let item of newDataImage">
            <div class="card">
              <img src="{{item.path}}" class="card-img-top" alt="...">
              <div class="d-flex justify-content-end card-body">
                <button style="width: 50px;" pButton pRipple type="button" icon="pi pi-trash" class="p-button-danger" (click)="deleteImage(item.id)"></button>
              </div>
            </div>
          </div>
        </div>
        <p-fileUpload [customUpload]="true" (uploadHandler)="myUploader($event)" [multiple]="true" accept="image/*" [maxFileSize]="5000000" [fileLimit]="5" [auto]="true"></p-fileUpload>
      </div>
    </div>
    <div class="field mb-3">
      <div class="d-flex flex-column">
        <label class="block mb-1" for="departure_date">Departure Date</label>
        <p-calendar formControlName="departure_date" dateFormat="yy-mm-dd" [minDate]="minimumDateDeparture" [readonlyInput]="true" (onSelect)="selectFirstDate($event)" [showIcon]="true" placeholder="Input departure date"></p-calendar>
      </div>
      <small class="p-error block mt-1" *ngIf="productForm.controls['departure_date'].invalid && productForm.controls['departure_date'].dirty">Field is required</small>
    </div>
    <div class="field mb-3">
      <div class="d-flex flex-column">
        <label class="block mb-1" for="return_date">Return Date</label>
        <p-calendar formControlName="return_date" dateFormat="yy-mm-dd" [minDate]="minimumDateReturn" [readonlyInput]="true" [showIcon]="true" placeholder="Input return date"></p-calendar>
      </div>
      <small class="p-error block mt-1" *ngIf="productForm.controls['return_date'].invalid && productForm.controls['return_date'].dirty">Field is required</small>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="mt-3">
      <p-button (onClick)="closeModal()" label="Cancel" styleClass="p-button-text"></p-button>
      <p-button *ngIf="loadingSubmit" (onClick)="addEditProduct()" label="{{ modalType }}" [disabled]="productForm.invalid || productForm.pristine"></p-button>
      <p-button *ngIf="!loadingSubmit" class="is-loading" [disabled]="true">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </p-button>
    </div>
  </ng-template>
</p-dialog>
