<h2 class="pb-3">Transactions</h2>
<div *ngIf="!visible" class="d-flex align-items-center justify-content-center h-100 search-loader">
  <p-progressSpinner></p-progressSpinner>
</div>
<p-table *ngIf="visible" [tableStyle]="{'min-width': '50rem'}" [value]="data$" [paginator]="true"
  [totalRecords]="totalRecords" [rows]="10" [lazy]="true" (onLazyLoad)="loadTransaction($event)" [loading]="loading" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
  <ng-template pTemplate="caption">
    <div class="d-flex justify-content-between">
      <div class="table-header">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input [value]="query" pInputText type="text" (keyup.enter)="search()" (input)="searchId($event)"
            placeholder="Search Transaction ID" />
        </span>
      </div>
      <button type="button" pButton pRipple [disabled]="loadExcel" icon="pi pi-file-excel" (click)="exportExcel()"
        class="p-button-success me-3" pTooltip="Export as Excel" tooltipPosition="bottom"></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Invoice ID</th>
      <th>Date</th>
      <th>Time</th>
      <th>Total Amount</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <tr>
      <td>{{data.invoice_number}}</td>
      <td>{{data.transaction_date.substring(0, 10)}}</td>
      <td>{{data.transaction_date.substring(11, 19)}}</td>
      <td>{{data.total_amount | currencyFormat}}</td>
      <td><p-tag
          [severity]="data.payment_status === 'SUCCESS' ? 'success' : data.payment_status === 'PENDING' ? 'warning' : 'danger'"
          [icon]="data.payment_status === 'SUCCESS' ? 'pi pi-check' : data.payment_status === 'PENDING' ? 'pi pi-clock' : 'pi pi-times'"
          class="txn-value" value="{{data.payment_status}}"></p-tag></td>
      <td>
        <button pButton class="p-button-success p-button-sm" icon="pi pi-eye" label="DETAIL"
          (click)="showModal(data.invoice_number)"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td colspan="8" class="text-center">
        {{emptyMessage}}
      </td>
    </tr>
  </ng-template>
</p-table>
<p-dialog [dismissableMask]="true" [resizable]="false" [draggable]="false" [modal]="true" [(visible)]="displayModal">
  <ng-template pTemplate="header">
    <div class="d-flex align-items-center justify-content-between w-100 px-2">
      <span class="fw-bold fs-20">
        Transaction Detail
      </span>
      <button pButton type="button" icon="pi pi-print" onclick="window.print()"
        class="p-button-rounded p-button-text p-button-secondary"></button>
    </div>
  </ng-template>
  <app-detail-transaction [props]="detailTrans"></app-detail-transaction>
</p-dialog>