<div class="d-flex justify-content-between mb-3">
  <h2 class="mb-4">Advertisement</h2>
  <p-button icon="pi pi-plus" label="Add Image" (onClick)="showAddModal()"></p-button>
</div>
<div>
    <div class="row row-cols-1 row-cols-md-3 g-4" *ngIf="!(isLoading | async); else elseBlock">
      <div class="col" *ngFor="let item of (images | async)">
        <div class="card">
          <img src="{{item.image}}" alt="Advertisement image" class="card-img-top" style="height: 20rem;">
          <div class="card-body">
            <h4 class="mb-3 text-capitalize">{{item.name ? item.name : 'Advertisement Image'}}</h4>
            <button pButton type="button" icon="pi pi-sync" label="Change" class="p-button-warning me-2" (click)="showEditModal(item)"></button>
            <button pButton type="button" icon="pi pi-trash" label="Delete" class="p-button-danger" (click)="deleteImage(item.id)"></button>
          </div>
        </div>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let item of [1,2,3,4,5,6]">
          <div class="card">
            <p-skeleton width="auto" height="20rem"></p-skeleton>
            <div class="card-body">
              <div class="d-flex">
                <p-skeleton class="me-2" width="7.9rem" height="3rem"></p-skeleton>
                <p-skeleton width="7.2rem" height="3rem"></p-skeleton>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
</div>

<!-- Modal Add Edit Image -->
<app-add-edit-advertisement [displayAddEditModal]="displayAddEditModal" [selectedImage]="selectedImage" (clickClose)="hideAddModal($event)"></app-add-edit-advertisement>

<!-- Alert Dialog -->
<p-confirmDialog header="Delete Image" icon="pi pi-exclamation-triangle" acceptButtonStyleClass="p-button-danger"></p-confirmDialog>
<p-toast key="mKey1" position="bottom-right"></p-toast>