:host ::ng-deep .p-button {
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.5rem 0.7rem;
}

:host ::ng-deep.p-button.p-button-secondary.p-button-text:enabled {
    width: 2.1rem;
    height: 2.1rem;
}

:host ::ng-deep.p-button.p-button-secondary.p-button-text:enabled:hover {
    background-color: #e9ecef;
    color: #343a40;
}