<ng-template #content>
  <ng-template #failedContent>
    <div class="failed-msg"><span>Failed to get Data</span></div>
  </ng-template>
  <div *ngIf="!getFailed;else failedContent" class="d-flex row">
    <div class="d-flex row gap-2 col-7 align-items-center justify-content-center">
      <app-card-home class="col-5 p-0" *ngFor="let item of data" [props]="item"></app-card-home>
    </div>
    <p-chart *ngIf="(dataDashboard.value.transaction_per_day.count_total_transaction > 0);else nodata" class="col-5"
      [options]="options" type="pie" [data]="chartData | async" [style]="{'width': '43%', 'display':'block'}"></p-chart>
    <ng-template #nodata>
      <span class="col-5 text-center align-self-center">No Data Found</span>
    </ng-template>
  </div>
</ng-template>
<div *ngIf="loading;else content" class="d-flex align-items-center justify-content-center loader">
  <p-progressSpinner></p-progressSpinner>
</div>