@import "https://cdn-dev.oss-ap-southeast-5.aliyuncs.com/doku-ui-framework/css-doku%402.0.0/css/main.min.css";

/* CSS for icons */
@import "https://cdn-dev.oss-ap-southeast-5.aliyuncs.com/doku-css/icons/css/icons.min.css";

/* CSS customize */

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.bg-travy {
  background-color: #b63040;
}

.bg-travy-white {
  background-color: #f6f0ed;
}

.bg-purple {
  background-color: #f2e9fd;
}

.bg-yellow {
  background-color: #fdf4e0;
}

.bg-red {
  background-color: #f9e3e6;
}

.bg-green {
  background-color: #e3fbe8;
}

.text-travy {
  color: #b63040;
}

.text-travy-white {
  color: #f6f0ed;
}

.text-purple {
  color: #b587f8;
}

.text-yellow {
  color: #ee9980;
}

.text-red {
  color: #e4647e;
}

.text-green {
  color: #75d466;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-50 {
  font-size: 50px;
}

.btn-travy {
  background-color: #b63040;
  color: #f6f0ed;
}

.btn-travy:hover {
  border: 1px solid #f6f0ed;
}

.btn-travy-white {
  background-color: #f6f0ed;
  color: #b63040;
}

.btn-travy-white:hover {
  background-color: #ede6e2;
}