<h2 class="mb-3">Customers</h2>
<div *ngIf="!visible" class="d-flex align-items-center justify-content-center h-100 search-loader">
  <p-progressSpinner></p-progressSpinner>
</div>
<p-table *ngIf="visible" [columns]="cols" [value]="customers" [paginator]="true" [totalRecords]="totalRecords" [rows]="10" [lazy]="true" (onLazyLoad)="loadCustomers($event)" [loading]="loading" [globalFilterFields]="['email', 'username', 'fullname']" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
  <ng-template pTemplate="caption">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input [value]="query" pInputText type="text" (keyup.enter)="search()" (input)="searchId($event)" placeholder="Search Customer" />
    </span>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols">
          {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-customers>
    <tr>
      <td>{{customers.email ? customers.email : "No Data"}}</td>
      <td>{{customers.username ? customers.username : "No Data"}}</td>
      <td>{{customers.fullname ? customers.fullname : "No Data"}}</td>
      <td>{{customers.dob ? customers.dob : "No Data"}}</td>
      <td>{{customers.gender ? customers.gender : "No Data"}}</td>
      <td><button pButton icon="pi pi-eye" class="p-button-sm p-button-success m-2" (click)="showDetailModal(customers.username)" label="DETAIL"></button></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length" class="text-center">
        No records found
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Modal Detail Customer -->
<app-detail-customer [displayDetailCustomerModal]="displayDetailCustomerModal" (clickClose)="hideDetailModal($event)" ></app-detail-customer>

<!-- Toast -->
<p-toast key="mKey1" position="bottom-right"></p-toast>