:host ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: #b63040;
}

:host
  ::ng-deep
  .p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover
  .p-inputswitch-slider {
  background: #b63040;
}

:host ::ng-deep .p-inputswitch.p-focus .p-inputswitch-slider {
  box-shadow: 0 0 0 0.2rem #f9e3e6;
}

.payment-card {
  background-color: #f1f1f1;
  border-radius: 20px;
  justify-content: space-evenly;
}

.active-chip {
  background-color: #e3fbe8;
  color: #75d466;
  border-radius: 15px;
  padding: 0 15px;
}

.inactive-chip {
  background-color: #dbdbdb;
  color: #acacac;
  border-radius: 15px;
  padding: 0 15px;
}

.full-loader {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.error-get-payment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}
