<h2 class="mb-3">Virtual Account</h2>
<div *ngIf="loading" class="d-flex row justify-content-start gap-3">
  <p-skeleton class="payment-card d-flex align-items-center p-0 col-5" *ngFor="let number of [0,1,2,3,4,5]"
    borderRadius="20px" height="78px"></p-skeleton>
</div>
<div class="d-flex row justify-content-start gap-3 position-relative">
  <div class="full-loader" *ngIf="stateLoad">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <div class="error-get-payment fs-22" *ngIf="failedGet">
    <span>{{errorStatus}}</span>
  </div>
  <div *ngFor="let item of dataPayment" class="payment-card d-flex align-items-center p-2 col-5">
    <img src="{{item.image_path}}" width="150" alt="{{item.payment_method_types}}">
    <span *ngIf="item.is_active" class="fs-22 mb-1 active-chip">Active</span>
    <span *ngIf="!item.is_active" class="fs-22 mb-1 inactive-chip">Inactive</span>
    <p-inputSwitch (onChange)="changeState(item.payment_method_types, item.is_active)"
      [(ngModel)]="item.is_active"></p-inputSwitch>
  </div>
</div>
<p-toast position="bottom-center"></p-toast>